# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
.DS_Store
